<div class="row">
    <div class="col">
        <div class="accordion mt-3" id="legenda">
            <div class="card">
                <div class="card-header p-0" id="legenda-heading">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#legenda-content" aria-expanded="false" aria-controls="legenda-content">
                            Help
                        </button>
                    </h2>
                </div>
                <div id="legenda-content" class="collapse" aria-labelledby="legenda-heading" data-parent="#legenda">
                    <div class="card-body">
                        <p><h5 class="far fa-arrow-alt-circle-down mb-0"></h5> The column fills down from top to bottom.</p>
                        <p><h5 class="far fa-arrow-alt-circle-up mb-0"></h5> The column fills up from the bottom to top.</p>
                        <p><h5 class="far fa-smile mb-0"></h5> The column is filled without any restrictions.</p>
                        <p><h5 class="fas fa-bullhorn mb-0"></h5> To make an entry in this column you have to submit declarations after first turn giving the desired category. The entry can not then be changed.</p>
                        <p><button type="button" class="btn btn-outline-warning btn-sm">D</button> Declare category.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>