@using BlazorYahtzee.Models

<div class="row">
    <div class="@Game.Mode.CategoryCssClassName p-2">&nbsp;</div>
    @foreach (var column in Game.Mode.Columns)
    {
        <div class="@Game.Mode.ColumnCssClassName p-2 border text-center">
            <h4 class="@column.IconCssClassName mb-0"></h4>
        </div>
    }
</div>

@code {
    [CascadingParameter] 
    public Game Game { get; set; }
}
