@using BlazorYahtzee.Models

<div class="row">
    <div class="col">
        @if (Die.State == DieState.Rolling)
        {
            <i class="fas fa-4x fa-dice fa-pulse fa-spin fa-3x"></i>
        }
        else
        {
            @if (Game.Player.IsStartOfTurn())
            {
                <i class="fas fa-4x fa-dice-@Die.ClassName()"></i>
            }
            else
            {
                <i class="fas fa-4x fa-dice-@Die.ClassName()" @onclick="@(() => Die.Hold())"></i>
            }
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public Game Game { get; set; }

    [Parameter]
    public Die Die { get; set; }
}