@using BlazorYahtzee.Models
@using BlazorYahtzee.Models.Categories
@using BlazorYahtzee.Models.Columns

<div class="row">
    <div class="@Game.Mode.CategoryCssClassName p-1 font-weight-bold text-right">
        Yahtzee Bonus
    </div>
    @foreach (var column in Game.Mode.Columns)
    {
        <div class="@Game.Mode.ColumnCssClassName p-1 font-weight-bold border text-right bg-light">
            @if (Game.Player.Plays(column.Type).HasMultipleYahtzeePlays())
            {
                @Game.Player.Plays(column.Type).ScoreForYahtzeeBonus()
            }
            else
            {
                <text>0</text>
            }
            @if (Game.Player.Dice.HasYahtzee() && Game.Player.Plays(column.Type).HasYahtzeePlayForBonus() && !Game.Player.HasForcedPlay && !Game.Player.IsStartOfTurn() && !IsRolling)
            {
                <button role="button" class="btn btn-danger btn-sm ml-2" @onclick="@(async () => await ClaimYahtzeeBonus(column.Type))">+ 100</button>
            }
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public Game Game { get; set; }

    [Parameter]
    public bool IsRolling { get; set; }

    [Parameter]
    public EventCallback OnYahtzeeBonusClaimed { get; set; }

    private async Task ClaimYahtzeeBonus(ColumnType column)
    {
        var yahtzee = new Yahtzee();
        Game.Player.Plays(column).Add(yahtzee, yahtzee.PointsFor(Game.Player));
        Game.Player.ForcePlay();
        await OnYahtzeeBonusClaimed.InvokeAsync();
    }
}
